// Color definitions
$almost-white: #FDE6D5;
$burly-wood: #E5CEAC;
$dark-salmon: #E8B57E;
$rosy-brown: #AF876B;
$rosy-brown-light-1: #D2B099;
$rosy-brown-dark-1: #8C654A;
$rosy-brown-dark-2: #744829;
$dim-gray: #6E6564;
$almost-black: #2C282A;

$red-base: #AD6A6C;
$red-light-1: #D09799;
$red-light-2: #FAD3D4;
$red-dark-1: #8B494B;
$red-dark-2: #73292B;

$yellow-base: #AF986B;
$yellow-light-1: #D2BE99;
$yellow-light-2: #FDEFD5;
$yellow-dark-1: #8C764A;
$yellow-dark-2: #745B29;
