// Color definitions
$gbl-aqua: #689d6a;
$gbl-bg: #fbf1c7;
$gbl-bg0_h: #f9f5d7;
$gbl-bg1: #ebdbb2;
$gbl-bg2: #d5c4a1;
$gbl-bg3: #bdae93;
$gbl-blue: #458588;
$gbl-fg: #3c3836;
$gbl-gray: #7c6f64;
$gbl-green: #98971a;
$gbl-orange: #fe8019;
$gbl-purple: #98971a;
$gbl-red: #cc241d;
$gbl-yellow: #d79921;
